.page {
    background-image: url(../images/patern-2.jpg);
    background-repeat: repeat;
    min-height: 100vh;
}



.information-card_alt {
    margin-left: 15%;
    font-style: italic;
}

.information-card_alt .information-card__term {
    color: darkgreen;
}


.page-html .information-card {
    margin-bottom: 10px;
}
