
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;

}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 600;
}

.tittle {
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 600;
}

.tittle_size-m,
.tittle_size-m h1,
.tittle_size-m h2,
.tittle_size-m h3 {
    font-size: 40px;
}

.tittle_size-sm,
.tittle_size-sm h1,
.tittle_size-sm h2,
.tittle_size-sm h3 {
    font-size: 32px;
}

.color_brown {
    color: brown;

}

.color_darkgreen {
    color: darkgreen;

}

.information-card {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}


.information-card__term {
    color: brown;
    font-weight: 900;
    min-width: 15%;
}



